@using AxxesMarket.SPA.Client.Features.Products.Store
@inject NavigationManager NavigationManager
@inherits BlazorStateComponent

<div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4" id="product-grid">
    @foreach(var product in _state.Products) {
       <div class="col mb-3">
            <Card 
            ButtonText="Details" 
            Class="h-100 shadow border-0" 
            Description=product.Description 
            Id=product.Id
            ImageUrl=@product.ImageUrl
            Title=@product.Name
            Price=product.Price
            Sold=product.SoldOn.HasValue
            OnButtonClick=OnProductClick/>
       </div>
    }
</div>

@code {
    // load products
    private ProductsState _state => GetState<ProductsState>();

    [CascadingParameter]public Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if(_state.Products is null || !_state.Products.Any()) await Mediator.Send(new ProductsState.GetProductsAction());
    }

    private void OnProductClick(Guid id) {
        Console.WriteLine($"the card with id {id} was clicked");
        NavigationManager.NavigateTo($"/product/{id}/detail");
    }
}
