
<svg id="axxes-logo" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 523.31 119.39">
    <defs>
        <style>
            .cls-1 {
                fill: #1d232b;
            }

            .cls-2 {
                fill: #e85410;
            }</style>
    </defs>
    <title>Logo_Axxes-RGB</title>
    <path class="cls-1" d="M47,30.08,69.14,86.54H24.81ZM50.35,7.69,4.88,122.88l-.37.93h5.61L23,91.19H71l12.69,32.62h20.06L58.24,8.13l-.17-.44Z" transform="translate(-4.51 -5.42)" />
    <polygon class="cls-1" points="109.58 2.28 146.3 64.22 112.14 118.39 118.33 118.39 149.3 69.14 178.56 118.39 199.03 118.39 159.88 52.32 168.31 39.2 165.41 34.04 157.03 47.39 130.2 2.28 109.58 2.28" />
    <polygon class="cls-1" points="270.15 2.28 239.18 51.53 209.92 2.28 189.45 2.28 228.59 68.35 220.17 81.47 223.07 86.64 231.44 73.28 258.28 118.39 278.9 118.39 242.18 56.46 276.33 2.28 270.15 2.28" />
    <polygon class="cls-1" points="303.24 2.28 303.24 118.39 379.12 118.39 379.12 113.75 322.17 113.75 322.17 61.84 354.91 61.84 354.91 57.19 322.17 57.19 322.17 6.92 377.64 6.92 377.64 2.28 303.24 2.28" />
    <path class="cls-1" d="M440.94,56.45c-13-5.57-27.77-11.89-27.77-25.43,0-11.58,10.87-20.3,25.29-20.3,15.76,0,27.64,10.91,27.64,25.38v.68h4.61V36.1c0-17.5-15-30.68-34.91-30.68-21.86,0-37.72,13.87-37.72,33,0,21,18.48,29.34,33.34,36.07l.26.11C445.74,81,459,87,459,99.7c0,11.57-10.89,19.65-26.47,19.65-18.11,0-31.77-11.62-31.77-27v-.69h-4.62v.69c0,18.21,17.22,32.48,39.19,32.48,23.17,0,39.34-13.7,39.34-33.31,0-20.57-17.15-27.93-33.75-35" transform="translate(-4.51 -5.42)" />
    <rect class="cls-2" x="492.28" y="113.75" width="31.03" height="4.64" />
</svg>

@code {

}
