@inherits LayoutComponentBase

<div id="page" >
    <AxxesMarket.SPA.Client.Shared.Toasts.ToastMessageContainer />

    <div id="topbar">
        <TopbarMenu />
    </div>
    <main>
        @Body
    </main>
</div>
